<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.DS.mapper.SalesOrderMapper">
    
    <resultMap type="SalesOrder" id="SalesOrderResult">
        <result property="id"    column="id"    />
        <result property="saleId"    column="sale_id"    />
        <result property="saleIdO"    column="sale_id_o"    />
        <result property="totalCost"    column="total_cost"    />
        <result property="totalPurchase"    column="total_purchase"    />
        <result property="exceptFreight"    column="except_freight"    />
        <result property="forwarderFreight"    column="forwarder_freight"    />
        <result property="address"    column="address"    />
        <result property="salesOrdercol"    column="sales_ordercol"    />
        <result property="salesOrdercolE"    column="sales_ordercol_e"    />
        <result property="outboundWeight"    column="outbound_weight"    />
        <result property="numberType"    column="number_type"    />
        <result property="isRefunded"    column="is_refunded"    />
        <result property="refundedTime"    column="refunded_time"    />
        <result property="refundedReason"    column="refunded_reason"    />
        <result property="remark"    column="remark"    />
        <result property="remarkToCustom"    column="remark_to_custom"    />
        <result property="forwarderWeight"    column="forwarder_weight"    />
        <result property="newOdd"    column="new_odd"    />
        <result property="logisticsChannel"    column="logistics_channel"    />
        <result property="refundedAmount"    column="refunded_amount"    />
        <result property="totalWeight"    column="total_weight"    />
        <result property="orderStatus"    column="order_status"    />
        <result property="customId"    column="custom_id"    />
        <result property="payStatus"    column="pay_status"    />
        <result property="logisticsStatus"    column="logistics_status"    />
        <result property="isExchange"    column="is_exchange"    />
        <result property="storageTime"    column="storage_time"    />
        <result property="deliverRemarkTime"    column="deliver_remark_time"    />
        <result property="logisticsAcceptTime"    column="logistics_accept_time"    />
        <result property="dowloadTime"    column="dowload_time"    />
        <result property="customBuyTime"    column="custom_buy_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="warehouse"    column="warehouse"    />
    </resultMap>

    <sql id="selectSalesOrderVo">
        select id, sale_id, sale_id_o, total_cost, total_purchase, except_freight, forwarder_freight, address, sales_ordercol, sales_ordercol_e, outbound_weight, number_type, is_refunded, refunded_time, refunded_reason, remark, remark_to_custom, forwarder_weight, new_odd, logistics_channel, refunded_amount, total_weight, order_status, custom_id, pay_status, logistics_status, is_exchange, storage_time, deliver_remark_time, logistics_accept_time, dowload_time, custom_buy_time, create_by, warehouse from sales_order
    </sql>

    <select id="selectSalesOrderList" parameterType="SalesOrder" resultMap="SalesOrderResult">
        <include refid="selectSalesOrderVo"/>
        <where>  
            <if test="saleId != null  and saleId != ''"> and sale_id = #{saleId}</if>
            <if test="saleIdO != null  and saleIdO != ''"> and sale_id_o = #{saleIdO}</if>
            <if test="totalCost != null "> and total_cost = #{totalCost}</if>
            <if test="totalPurchase != null "> and total_purchase = #{totalPurchase}</if>
            <if test="exceptFreight != null "> and except_freight = #{exceptFreight}</if>
            <if test="forwarderFreight != null "> and forwarder_freight = #{forwarderFreight}</if>
            <if test="address != null "> and address = #{address}</if>
            <if test="salesOrdercol != null  and salesOrdercol != ''"> and sales_ordercol = #{salesOrdercol}</if>
            <if test="salesOrdercolE != null  and salesOrdercolE != ''"> and sales_ordercol_e = #{salesOrdercolE}</if>
            <if test="outboundWeight != null "> and outbound_weight = #{outboundWeight}</if>
            <if test="numberType != null  and numberType != ''"> and number_type = #{numberType}</if>
            <if test="isRefunded != null "> and is_refunded = #{isRefunded}</if>
            <if test="refundedTime != null "> and refunded_time = #{refundedTime}</if>
            <if test="refundedReason != null  and refundedReason != ''"> and refunded_reason = #{refundedReason}</if>
            <if test="remarkToCustom != null  and remarkToCustom != ''"> and remark_to_custom = #{remarkToCustom}</if>
            <if test="forwarderWeight != null "> and forwarder_weight = #{forwarderWeight}</if>
            <if test="newOdd != null  and newOdd != ''"> and new_odd = #{newOdd}</if>
            <if test="logisticsChannel != null "> and logistics_channel = #{logisticsChannel}</if>
            <if test="refundedAmount != null "> and refunded_amount = #{refundedAmount}</if>
            <if test="totalWeight != null "> and total_weight = #{totalWeight}</if>
            <if test="orderStatus != null "> and order_status = #{orderStatus}</if>
            <if test="customId != null  and customId != ''"> and custom_id = #{customId}</if>
            <if test="payStatus != null "> and pay_status = #{payStatus}</if>
            <if test="logisticsStatus != null  and logisticsStatus != ''"> and logistics_status = #{logisticsStatus}</if>
            <if test="isExchange != null "> and is_exchange = #{isExchange}</if>
            <if test="storageTime != null "> and storage_time = #{storageTime}</if>
            <if test="deliverRemarkTime != null "> and deliver_remark_time = #{deliverRemarkTime}</if>
            <if test="logisticsAcceptTime != null "> and logistics_accept_time = #{logisticsAcceptTime}</if>
            <if test="dowloadTime != null "> and dowload_time = #{dowloadTime}</if>
            <if test="customBuyTime != null "> and custom_buy_time = #{customBuyTime}</if>
            <if test="warehouse != null "> and warehouse = #{warehouse}</if>
        </where>
    </select>
    
    <select id="selectSalesOrderById" parameterType="Integer" resultMap="SalesOrderResult">
        <include refid="selectSalesOrderVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertSalesOrder" parameterType="SalesOrder" useGeneratedKeys="true" keyProperty="id">
        insert into sales_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="saleId != null  and saleId != ''">sale_id,</if>
            <if test="saleIdO != null  and saleIdO != ''">sale_id_o,</if>
            <if test="totalCost != null ">total_cost,</if>
            <if test="totalPurchase != null ">total_purchase,</if>
            <if test="exceptFreight != null ">except_freight,</if>
            <if test="forwarderFreight != null ">forwarder_freight,</if>
            <if test="address != null ">address,</if>
            <if test="salesOrdercol != null  and salesOrdercol != ''">sales_ordercol,</if>
            <if test="salesOrdercolE != null  and salesOrdercolE != ''">sales_ordercol_e,</if>
            <if test="outboundWeight != null ">outbound_weight,</if>
            <if test="numberType != null  and numberType != ''">number_type,</if>
            <if test="isRefunded != null ">is_refunded,</if>
            <if test="refundedTime != null ">refunded_time,</if>
            <if test="refundedReason != null  and refundedReason != ''">refunded_reason,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="remarkToCustom != null  and remarkToCustom != ''">remark_to_custom,</if>
            <if test="forwarderWeight != null ">forwarder_weight,</if>
            <if test="newOdd != null  and newOdd != ''">new_odd,</if>
            <if test="logisticsChannel != null ">logistics_channel,</if>
            <if test="refundedAmount != null ">refunded_amount,</if>
            <if test="totalWeight != null ">total_weight,</if>
            <if test="orderStatus != null ">order_status,</if>
            <if test="customId != null  and customId != ''">custom_id,</if>
            <if test="payStatus != null ">pay_status,</if>
            <if test="logisticsStatus != null  and logisticsStatus != ''">logistics_status,</if>
            <if test="isExchange != null ">is_exchange,</if>
            <if test="storageTime != null ">storage_time,</if>
            <if test="deliverRemarkTime != null ">deliver_remark_time,</if>
            <if test="logisticsAcceptTime != null ">logistics_accept_time,</if>
            <if test="dowloadTime != null ">dowload_time,</if>
            <if test="customBuyTime != null ">custom_buy_time,</if>
            <if test="createBy != null  and createBy != ''">create_by,</if>
            <if test="warehouse != null ">warehouse,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="saleId != null  and saleId != ''">#{saleId},</if>
            <if test="saleIdO != null  and saleIdO != ''">#{saleIdO},</if>
            <if test="totalCost != null ">#{totalCost},</if>
            <if test="totalPurchase != null ">#{totalPurchase},</if>
            <if test="exceptFreight != null ">#{exceptFreight},</if>
            <if test="forwarderFreight != null ">#{forwarderFreight},</if>
            <if test="address != null ">#{address},</if>
            <if test="salesOrdercol != null  and salesOrdercol != ''">#{salesOrdercol},</if>
            <if test="salesOrdercolE != null  and salesOrdercolE != ''">#{salesOrdercolE},</if>
            <if test="outboundWeight != null ">#{outboundWeight},</if>
            <if test="numberType != null  and numberType != ''">#{numberType},</if>
            <if test="isRefunded != null ">#{isRefunded},</if>
            <if test="refundedTime != null ">#{refundedTime},</if>
            <if test="refundedReason != null  and refundedReason != ''">#{refundedReason},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="remarkToCustom != null  and remarkToCustom != ''">#{remarkToCustom},</if>
            <if test="forwarderWeight != null ">#{forwarderWeight},</if>
            <if test="newOdd != null  and newOdd != ''">#{newOdd},</if>
            <if test="logisticsChannel != null ">#{logisticsChannel},</if>
            <if test="refundedAmount != null ">#{refundedAmount},</if>
            <if test="totalWeight != null ">#{totalWeight},</if>
            <if test="orderStatus != null ">#{orderStatus},</if>
            <if test="customId != null  and customId != ''">#{customId},</if>
            <if test="payStatus != null ">#{payStatus},</if>
            <if test="logisticsStatus != null  and logisticsStatus != ''">#{logisticsStatus},</if>
            <if test="isExchange != null ">#{isExchange},</if>
            <if test="storageTime != null ">#{storageTime},</if>
            <if test="deliverRemarkTime != null ">#{deliverRemarkTime},</if>
            <if test="logisticsAcceptTime != null ">#{logisticsAcceptTime},</if>
            <if test="dowloadTime != null ">#{dowloadTime},</if>
            <if test="customBuyTime != null ">#{customBuyTime},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="warehouse != null ">#{warehouse},</if>
         </trim>
    </insert>

    <update id="updateSalesOrder" parameterType="SalesOrder">
        update sales_order
        <trim prefix="SET" suffixOverrides=",">
            <if test="saleId != null  and saleId != ''">sale_id = #{saleId},</if>
            <if test="saleIdO != null  and saleIdO != ''">sale_id_o = #{saleIdO},</if>
            <if test="totalCost != null ">total_cost = #{totalCost},</if>
            <if test="totalPurchase != null ">total_purchase = #{totalPurchase},</if>
            <if test="exceptFreight != null ">except_freight = #{exceptFreight},</if>
            <if test="forwarderFreight != null ">forwarder_freight = #{forwarderFreight},</if>
            <if test="address != null ">address = #{address},</if>
            <if test="salesOrdercol != null  and salesOrdercol != ''">sales_ordercol = #{salesOrdercol},</if>
            <if test="salesOrdercolE != null  and salesOrdercolE != ''">sales_ordercol_e = #{salesOrdercolE},</if>
            <if test="outboundWeight != null ">outbound_weight = #{outboundWeight},</if>
            <if test="numberType != null  and numberType != ''">number_type = #{numberType},</if>
            <if test="isRefunded != null ">is_refunded = #{isRefunded},</if>
            <if test="refundedTime != null ">refunded_time = #{refundedTime},</if>
            <if test="refundedReason != null  and refundedReason != ''">refunded_reason = #{refundedReason},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="remarkToCustom != null  and remarkToCustom != ''">remark_to_custom = #{remarkToCustom},</if>
            <if test="forwarderWeight != null ">forwarder_weight = #{forwarderWeight},</if>
            <if test="newOdd != null  and newOdd != ''">new_odd = #{newOdd},</if>
            <if test="logisticsChannel != null ">logistics_channel = #{logisticsChannel},</if>
            <if test="refundedAmount != null ">refunded_amount = #{refundedAmount},</if>
            <if test="totalWeight != null ">total_weight = #{totalWeight},</if>
            <if test="orderStatus != null ">order_status = #{orderStatus},</if>
            <if test="customId != null  and customId != ''">custom_id = #{customId},</if>
            <if test="payStatus != null ">pay_status = #{payStatus},</if>
            <if test="logisticsStatus != null  and logisticsStatus != ''">logistics_status = #{logisticsStatus},</if>
            <if test="isExchange != null ">is_exchange = #{isExchange},</if>
            <if test="storageTime != null ">storage_time = #{storageTime},</if>
            <if test="deliverRemarkTime != null ">deliver_remark_time = #{deliverRemarkTime},</if>
            <if test="logisticsAcceptTime != null ">logistics_accept_time = #{logisticsAcceptTime},</if>
            <if test="dowloadTime != null ">dowload_time = #{dowloadTime},</if>
            <if test="customBuyTime != null ">custom_buy_time = #{customBuyTime},</if>
            <if test="createBy != null  and createBy != ''">create_by = #{createBy},</if>
            <if test="warehouse != null ">warehouse = #{warehouse},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSalesOrderById" parameterType="Integer">
        delete from sales_order where id = #{id}
    </delete>

    <delete id="deleteSalesOrderByIds" parameterType="String">
        delete from sales_order where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>