<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.DS.mapper.SkuproductMapper">
    
    <resultMap type="Skuproduct" id="SkuproductResult">
        <result property="id"    column="id"    />
        <result property="code"    column="code"    />
        <result property="codeExt"    column="code_ext"    />
        <result property="size"    column="size"    />
        <result property="color"    column="color"    />
        <result property="netWeight"    column="net_weight"    />
        <result property="grossWeight"    column="gross_weight"    />
        <result property="costPrice"    column="cost_price"    />
        <result property="price"    column="price"    />
        <result property="status"    column="status"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="sales7days"    column="sales_7days"    />
        <result property="sales7daysDay"    column="sales_7days_day"    />
        <result property="sales14days"    column="sales_14days"    />
        <result property="sales14daysDay"    column="sales_14days_day"    />
        <result property="sales30days"    column="sales_30days"    />
        <result property="sales30daysDay"    column="sales_30days_day"    />
        <result property="purchasePlan"    column="purchase_plan"    />
        <result property="purchasePlanDays"    column="purchase_plan_days"    />
        <result property="purchaseDeliveryDay"    column="purchase_delivery_day"    />
        <result property="salesStatTime"    column="sales_stat_time"    />
        <result property="inventoryPublishPolicy"    column="inventory_publish_policy"    />
        <result property="product"    column="product"    />
        <result property="filepath"    column="filePath"    />
        <result property="length"    column="length"    />
        <result property="width"    column="width"    />
        <result property="height"    column="height"    />
    </resultMap>

    <sql id="selectSkuproductVo">
        select id, code, code_ext, size, color, net_weight, gross_weight, cost_price, price, status, sort_order, sales_7days, sales_7days_day, sales_14days, sales_14days_day, sales_30days, sales_30days_day, purchase_plan, purchase_plan_days, purchase_delivery_day, sales_stat_time, inventory_publish_policy, product, filePath, length, width, height from skuproduct
    </sql>

    <select id="selectSkuproductList" parameterType="Skuproduct" resultMap="SkuproductResult">
        <include refid="selectSkuproductVo"/>
        <where>  
            <if test="code != null  and code != ''"> and code like concat(#{code},'-', '%')</if>
            <if test="codeExt != null  and codeExt != ''"> and code_ext = #{codeExt}</if>
            <if test="size != null  and size != ''"> and size = #{size}</if>
            <if test="color != null  and color != ''"> and color = #{color}</if>
            <if test="netWeight != null "> and net_weight = #{netWeight}</if>
            <if test="grossWeight != null "> and gross_weight = #{grossWeight}</if>
            <if test="costPrice != null "> and cost_price = #{costPrice}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="sales7days != null  and sales7days != ''"> and sales_7days = #{sales7days}</if>
            <if test="sales7daysDay != null  and sales7daysDay != ''"> and sales_7days_day = #{sales7daysDay}</if>
            <if test="sales14days != null  and sales14days != ''"> and sales_14days = #{sales14days}</if>
            <if test="sales14daysDay != null  and sales14daysDay != ''"> and sales_14days_day = #{sales14daysDay}</if>
            <if test="sales30days != null  and sales30days != ''"> and sales_30days = #{sales30days}</if>
            <if test="sales30daysDay != null  and sales30daysDay != ''"> and sales_30days_day = #{sales30daysDay}</if>
            <if test="purchasePlan != null  and purchasePlan != ''"> and purchase_plan = #{purchasePlan}</if>
            <if test="purchasePlanDays != null  and purchasePlanDays != ''"> and purchase_plan_days = #{purchasePlanDays}</if>
            <if test="purchaseDeliveryDay != null  and purchaseDeliveryDay != ''"> and purchase_delivery_day = #{purchaseDeliveryDay}</if>
            <if test="salesStatTime != null "> and sales_stat_time = #{salesStatTime}</if>
            <if test="inventoryPublishPolicy != null  and inventoryPublishPolicy != ''"> and inventory_publish_policy = #{inventoryPublishPolicy}</if>
            <if test="product != null "> and product = #{product}</if>
            <if test="filepath != null  and filepath != ''"> and filePath = #{filepath}</if>
            <if test="length != null "> and length = #{length}</if>
            <if test="width != null "> and width = #{width}</if>
            <if test="height != null "> and height = #{height}</if>
        </where>
    </select>
    
    <select id="selectSkuproductById" parameterType="Integer" resultMap="SkuproductResult">
        <include refid="selectSkuproductVo"/>
        where id = #{id}
    </select>

    <select id="selectSkuproductByCode" parameterType="String" resultMap="SkuproductResult">
        <include refid="selectSkuproductVo"/>
        where code = #{code}
    </select>

    <insert id="insertSkuproduct" parameterType="Skuproduct" useGeneratedKeys="true" keyProperty="id">
        insert into skuproduct
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null  and code != ''">code,</if>
            <if test="codeExt != null  and codeExt != ''">code_ext,</if>
            <if test="size != null  and size != ''">size,</if>
            <if test="color != null  and color != ''">color,</if>
            <if test="netWeight != null ">net_weight,</if>
            <if test="grossWeight != null ">gross_weight,</if>
            <if test="costPrice != null ">cost_price,</if>
            <if test="price != null ">price,</if>
            <if test="status != null ">status,</if>
            <if test="sortOrder != null ">sort_order,</if>
            <if test="sales7days != null  and sales7days != ''">sales_7days,</if>
            <if test="sales7daysDay != null  and sales7daysDay != ''">sales_7days_day,</if>
            <if test="sales14days != null  and sales14days != ''">sales_14days,</if>
            <if test="sales14daysDay != null  and sales14daysDay != ''">sales_14days_day,</if>
            <if test="sales30days != null  and sales30days != ''">sales_30days,</if>
            <if test="sales30daysDay != null  and sales30daysDay != ''">sales_30days_day,</if>
            <if test="purchasePlan != null  and purchasePlan != ''">purchase_plan,</if>
            <if test="purchasePlanDays != null  and purchasePlanDays != ''">purchase_plan_days,</if>
            <if test="purchaseDeliveryDay != null  and purchaseDeliveryDay != ''">purchase_delivery_day,</if>
            <if test="salesStatTime != null ">sales_stat_time,</if>
            <if test="inventoryPublishPolicy != null  and inventoryPublishPolicy != ''">inventory_publish_policy,</if>
            <if test="product != null ">product,</if>
            <if test="filepath != null  and filepath != ''">filePath,</if>
            <if test="length != null ">length,</if>
            <if test="width != null ">width,</if>
            <if test="height != null ">height,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null  and code != ''">#{code},</if>
            <if test="codeExt != null  and codeExt != ''">#{codeExt},</if>
            <if test="size != null  and size != ''">#{size},</if>
            <if test="color != null  and color != ''">#{color},</if>
            <if test="netWeight != null ">#{netWeight},</if>
            <if test="grossWeight != null ">#{grossWeight},</if>
            <if test="costPrice != null ">#{costPrice},</if>
            <if test="price != null ">#{price},</if>
            <if test="status != null ">#{status},</if>
            <if test="sortOrder != null ">#{sortOrder},</if>
            <if test="sales7days != null  and sales7days != ''">#{sales7days},</if>
            <if test="sales7daysDay != null  and sales7daysDay != ''">#{sales7daysDay},</if>
            <if test="sales14days != null  and sales14days != ''">#{sales14days},</if>
            <if test="sales14daysDay != null  and sales14daysDay != ''">#{sales14daysDay},</if>
            <if test="sales30days != null  and sales30days != ''">#{sales30days},</if>
            <if test="sales30daysDay != null  and sales30daysDay != ''">#{sales30daysDay},</if>
            <if test="purchasePlan != null  and purchasePlan != ''">#{purchasePlan},</if>
            <if test="purchasePlanDays != null  and purchasePlanDays != ''">#{purchasePlanDays},</if>
            <if test="purchaseDeliveryDay != null  and purchaseDeliveryDay != ''">#{purchaseDeliveryDay},</if>
            <if test="salesStatTime != null ">#{salesStatTime},</if>
            <if test="inventoryPublishPolicy != null  and inventoryPublishPolicy != ''">#{inventoryPublishPolicy},</if>
            <if test="product != null ">#{product},</if>
            <if test="filepath != null  and filepath != ''">#{filepath},</if>
            <if test="length != null ">#{length},</if>
            <if test="width != null ">#{width},</if>
            <if test="height != null ">#{height},</if>
         </trim>
    </insert>

    <update id="updateSkuproduct" parameterType="Skuproduct">
        update skuproduct
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null  and code != ''">code = #{code},</if>
            <if test="codeExt != null  and codeExt != ''">code_ext = #{codeExt},</if>
            <if test="size != null  and size != ''">size = #{size},</if>
            <if test="color != null  and color != ''">color = #{color},</if>
            <if test="netWeight != null ">net_weight = #{netWeight},</if>
            <if test="grossWeight != null ">gross_weight = #{grossWeight},</if>
            <if test="costPrice != null ">cost_price = #{costPrice},</if>
            <if test="price != null ">price = #{price},</if>
            <if test="status != null ">status = #{status},</if>
            <if test="sortOrder != null ">sort_order = #{sortOrder},</if>
            <if test="sales7days != null  and sales7days != ''">sales_7days = #{sales7days},</if>
            <if test="sales7daysDay != null  and sales7daysDay != ''">sales_7days_day = #{sales7daysDay},</if>
            <if test="sales14days != null  and sales14days != ''">sales_14days = #{sales14days},</if>
            <if test="sales14daysDay != null  and sales14daysDay != ''">sales_14days_day = #{sales14daysDay},</if>
            <if test="sales30days != null  and sales30days != ''">sales_30days = #{sales30days},</if>
            <if test="sales30daysDay != null  and sales30daysDay != ''">sales_30days_day = #{sales30daysDay},</if>
            <if test="purchasePlan != null  and purchasePlan != ''">purchase_plan = #{purchasePlan},</if>
            <if test="purchasePlanDays != null  and purchasePlanDays != ''">purchase_plan_days = #{purchasePlanDays},</if>
            <if test="purchaseDeliveryDay != null  and purchaseDeliveryDay != ''">purchase_delivery_day = #{purchaseDeliveryDay},</if>
            <if test="salesStatTime != null ">sales_stat_time = #{salesStatTime},</if>
            <if test="inventoryPublishPolicy != null  and inventoryPublishPolicy != ''">inventory_publish_policy = #{inventoryPublishPolicy},</if>
            <if test="product != null ">product = #{product},</if>
            <if test="filepath != null  and filepath != ''">filePath = #{filepath},</if>
            <if test="length != null ">length = #{length},</if>
            <if test="width != null ">width = #{width},</if>
            <if test="height != null ">height = #{height},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSkuproductById" parameterType="Integer">
        delete from skuproduct where id = #{id}
    </delete>

    <delete id="deleteSkuproductByIds" parameterType="String">
        delete from skuproduct where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>