<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.DS.mapper.SupplierMapper">
    
    <resultMap type="Supplier" id="SupplierResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sc"    column="sc"    />
        <result property="lp"    column="lp"    />
        <result property="phonenumber"    column="phoneNumber"    />
        <result property="email"    column="email"    />
        <result property="address"    column="address"    />
        <result property="remark"    column="remark"    />
        <result property="state"    column="state"    />
        <result property="createBy"    column="createBy"    />
        <result property="createTime"    column="createTime"    />
        <result property="updateBy"    column="updateBy"    />
        <result property="updateTime"    column="updateTime"    />
    </resultMap>

    <sql id="selectSupplierVo">
        select id, name, sc, lp, phoneNumber, email, address, remark, state, createBy, createTime, updateBy, updateTime from supplier
    </sql>

    <select id="selectSupplierList" parameterType="Supplier" resultMap="SupplierResult">
        <include refid="selectSupplierVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sc != null  and sc != ''"> and sc = #{sc}</if>
            <if test="lp != null  and lp != ''"> and lp = #{lp}</if>
            <if test="phonenumber != null  and phonenumber != ''"> and phoneNumber = #{phonenumber}</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="state != null "> and state = #{state}</if>
            <if test="createBy != null  and createBy != ''"> and createBy = #{createBy}</if>
            <if test="createTime != null "> and createTime = #{createTime}</if>
            <if test="updateBy != null  and updateBy != ''"> and updateBy = #{updateBy}</if>
            <if test="updateTime != null "> and updateTime = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectSupplierById" parameterType="Long" resultMap="SupplierResult">
        <include refid="selectSupplierVo"/>
        where id = #{id}
    </select>


    <insert id="insertSupplier" parameterType="Supplier" useGeneratedKeys="true" keyProperty="id">
        insert into supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">name,</if>
            <if test="sc != null  and sc != ''">sc,</if>
            <if test="lp != null  and lp != ''">lp,</if>
            <if test="phonenumber != null  and phonenumber != ''">phoneNumber,</if>
            <if test="email != null  and email != ''">email,</if>
            <if test="address != null  and address != ''">address,</if>
            <if test="remark != null  and remark != ''">remark,</if>
            <if test="state != null ">state,</if>
            <if test="createBy != null  and createBy != ''">createBy,</if>
            <if test="createTime != null ">createTime,</if>
            <if test="updateBy != null  and updateBy != ''">updateBy,</if>
            <if test="updateTime != null ">updateTime,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null  and name != ''">#{name},</if>
            <if test="sc != null  and sc != ''">#{sc},</if>
            <if test="lp != null  and lp != ''">#{lp},</if>
            <if test="phonenumber != null  and phonenumber != ''">#{phonenumber},</if>
            <if test="email != null  and email != ''">#{email},</if>
            <if test="address != null  and address != ''">#{address},</if>
            <if test="remark != null  and remark != ''">#{remark},</if>
            <if test="state != null ">#{state},</if>
            <if test="createBy != null  and createBy != ''">#{createBy},</if>
            <if test="createTime != null ">#{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">#{updateBy},</if>
            <if test="updateTime != null ">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateSupplier" parameterType="Supplier">
        update supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null  and name != ''">name = #{name},</if>
            <if test="sc != null  and sc != ''">sc = #{sc},</if>
            <if test="lp != null  and lp != ''">lp = #{lp},</if>
            <if test="phonenumber != null  and phonenumber != ''">phoneNumber = #{phonenumber},</if>
            <if test="email != null  and email != ''">email = #{email},</if>
            <if test="address != null  and address != ''">address = #{address},</if>
            <if test="remark != null  and remark != ''">remark = #{remark},</if>
            <if test="state != null ">state = #{state},</if>
            <if test="createBy != null  and createBy != ''">createBy = #{createBy},</if>
            <if test="createTime != null ">createTime = #{createTime},</if>
            <if test="updateBy != null  and updateBy != ''">updateBy = #{updateBy},</if>
            <if test="updateTime != null ">updateTime = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSupplierById" parameterType="Long">
        delete from supplier where id = #{id}
    </delete>

    <delete id="deleteSupplierByIds" parameterType="String">
        delete from supplier where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>