<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"  >
<head>
    <th:block th:include="include :: header('新增库存')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <style type="text/css">
        .show-grid{
            margin: 0px 0;
        }
    </style>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <div class="col-sm-12">
            <div class="ibox float-e-margins border-0">
                <div class="ibox-title">
                    <h5>新增库存</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-center h-200" id="CO">
                    <span id="sparkline7">
                        <form class="form-horizontal m" id="form-inventory-add">
                             <div class="row show-grid ">
                                <div class="col-md-4">
                                <label class="col-sm-2 control-label">SKU：</label>
                                <div class="col-sm-10">
                                    <select name="sku" id="sku"  class="form-control m-b">
                                    </select>
                                </div>
                                </div>

                                <div class="col-md-4">
                                <label class="col-sm-2 control-label">货位：</label>
                                <div class="col-sm-10">
                                    <select name="allocation" class="form-control m-b"  th:with="type=${@dict.getType('DS_allocation')}">
                                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                    </select>
                                </div>
                                </div>

                                 <div class="col-md-4">
                                   <label class="col-sm-2 control-label">仓库：</label>
                                    <div class="col-sm-8">
                                    <select name="warehouse" id="warehouse"  class="form-control m-b">
                                    </select>
                                </div>
                                <a class="btn btn-success col-sm-1" title="创建新的仓库" onclick="layerOpenWareahouse()" ><i class="fa fa-plus"></i></a>
                                 </div>
                            </div>


                            <div class="row show-grid ">
                                <div class="col-md-3">
                                     <label class="col-sm-3 control-label"><span style="color: red; ">*</span>在库量：</label>
                                    <div class="col-sm-8">
                                    <input name="tqol" class="form-control" type="text" style="border-radius:9px" required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-3 control-label"><span style="color: red; ">*</span>已分配量：</label>
                                    <div class="col-sm-8">
                                    <input name="allocated" class="form-control" type="text" style="border-radius:9px" required>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                     <label class="col-sm-3 control-label">可售量：</label>
                                    <div class="col-sm-8">
                                    <input name="aoa" class="form-control" type="text" style="border-radius:9px">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <label class="col-sm-3 control-label"><span style="color: red; ">*</span>采购在途量：</label>
                                    <div class="col-sm-8">
                                    <input name="pit" class="form-control" type="text" style="border-radius:9px" required>
                                    </div>
                                </div>
                            </div>



                              <div class="row show-grid ">
                                  <div class="col-md-3">
                                    <label class="col-sm-3 control-label"><span style="color: red; ">*</span>超卖量：</label>
                                    <div class="col-sm-8">
                                        <input name="oversold" class="form-control" type="text" style="border-radius:9px" required>
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="col-sm-3 control-label">缺货量：</label>
                                    <div class="col-sm-8">
                                        <input name="oosq" class="form-control" type="text" style="border-radius:9px">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                   <label class="col-sm-3 control-label">最近入库时间：</label>
                                    <div class="col-sm-8">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input name="ihtime"  class="form-control" placeholder="yyyy-MM-dd" data-format="yyyy-MM" type="text" style="border-radius:9px"/>
                                    </div>
                                </div>
                                </div>

                                <div class="col-md-3">
                                    <label class="col-sm-3 control-label">最近盘点时间：</label>
                                    <div class="col-sm-8">
                                        <div class="input-group date">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            <input type="text" class="form-control"  name="checktime" placeholder="yyyy-MM-dd" data-format="yyyy-MM" style="border-radius:9px"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="btn-group clearfix show-xs save-group col-xs-12" style="position: fixed; margin-left: -10px; right: 10px;  bottom: 10px; width: 20% ">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="default btn btn-primary hide-xs" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-default" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-select-js" />
    <th:block th:include="include :: sparkline-js" />
    <th:block th:include="include :: datetimepicker-js" />
    <script type="text/javascript">
        $().ready(function () {
            $("#warehouse").one("click", refresh());
            if (screen.height==1080&&screen.width==1920){
                $(".show-grid").css('margin','0px 0');
                $(".show-grid").css('border','0px');
                $(".show-grid div[class^=col-]").css('height','55px');
                $("#ddwindow").css('height','500px');
            }
            }
        )

        var prefix = ctx + "DS/inventory";
        $("#form-inventory-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/add", $('#form-inventory-add').serialize(),function(result) {
                    if(self.frameElement.tagName=="IFRAME" && typeof (window.parent.refresh) == "function"){
                        // 在frame中时处理
                        window.parent.refresh();
                        $.operate.successCallback(result);
                    }
                    $.operate.successTabCallback(result);
                });
            }
        }

        $("input[name='checktime']").datetimepicker({
            clearBtn: true,
            todayBtn: true,
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });

        $("input[name='ihtime']").datetimepicker({
            clearBtn: true,
            todayBtn: true,
            format: "yyyy-mm-dd hh:ii:ss",
            minView: "month",
            autoclose: true
        });

        /*
        layer.open打开第三方添加界面
        */
        function layerOpenWareahouse() {
            layer.open({
                type: 2,
                title: "添加仓库",
                content: "/DS/warehouse/add",
                area: ['80%','80%']
                }
            )
        }




        //select数据获取（ajax）
        function refresh(){
            $("#warehouse").empty();
            $("#warehouse").append("<option value=\"\">-----</option>");
            $("#sku").empty();
            $("#sku").append("<option value=\"\">-----</option>");
            $.get(prefix + "/refresh",function (result) {
                $.each(result,function (i, warehouse) {
                    $("#warehouse").append("<option value="+i+">"+i+":"+warehouse+"</option>");
                })
            });
            $.get(prefix + "/refreshSKU",function (result) {
                $.each(result,function (i, sku) {
                    $("#sku").append("<option value="+sku+">"+sku+"</option>");
                })
            });
        }

    </script>
</body>
</html>