<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>统计</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content">

    <div class="row">
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>收入</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="total_profit"></h1>
                    <small>总收入</small>
                    </div>
                </div>
            </div>
        <div class="col-sm-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins" id="number"></h1>
                    <small>新订单</small>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <form class="form-horizontal m" id="form-queryData">
                <div class="form-group">
                    <label class="col-sm-3 control-label">从：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="firstDay" id="firstDay" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">到：</label>
                    <div class="col-sm-8">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input name="lastDay" id="lastDay" class="form-control" placeholder="yyyy-MM-dd" type="text">
                        </div>
                    </div>
                </div>
            </form>
            <div class="col-sm-offset-5 col-sm-10">
                <button type="button" class="default btn btn-primary hide-xs" onclick="refreshData()"><i class="fa fa-check"></i>查 询</button>&nbsp;
            </div>
        </div>

        <div class="col-sm-3" id="statistics">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>订单</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3">
                            <ul class="stat-list">
                                <li>
                                    <h2 class="no-margins" id="totalnumber"></h2>
                                    <small>订单总数</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 48%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins " id="lastNumber"></h2>
                                    <small>最近一个月订单</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 60%;" class="progress-bar"></div>
                                    </div>
                                </li>
                                <li>
                                    <h2 class="no-margins " id="lastCost"></h2>
                                    <small>最近一个月销售额</small>
                                    <div class="progress progress-mini">
                                        <div style="width: 22%;" class="progress-bar"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/ruoyi/js/ry-ui.js}"></script>
<script th:src="@{/ajax/libs/flot/jquery.flot.js}"></script>


<th:block th:include="include :: sparkline-js" />
<th:block th:include="include :: datetimepicker-js" />
<script type="text/javascript">
    var prefix = "/profitStatistics";
    $().ready(function () {
        $("#statistics").one("change", lastMonth());
    })


            $("#firstDay").datetimepicker({
                clearBtn: true,
                todayBtn: true,
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });
            $("#lastDay").datetimepicker({
                clearBtn: true,
                todayBtn: true,
                format: "yyyy-mm-dd",
                minView: "month",
                autoclose: true
            });

    function refreshData() {
        $("#statistics").empty();
        var firstDay = $("#firstDay").val();
        var lastDay = $("#lastDay").val();
        var paramData = {
            firstDay: firstDay,
            lastDay: lastDay
        };
        var start = new Date(firstDay.replace("-", "/").replace("-", "/"));
        var end = new Date(lastDay.replace("-", "/").replace("-", "/"));
        if (end < start) {
            alert("开始时间不能大于结束时间！");
            $("#statistics").append("<p style='color: red'>请求失败</p>");
            return false;
        }
        $.post(prefix + "/getProfiStatistics", paramData , function (result) {
            $.each(result, function (i, data) {
                if(i == "订单总数"){
                    $("#statistics").append("<p>"+i+":"+data+"</p>")
                    $("#number").text(data);
                }
                if(i == "总利润"){
                    $("#total_profit").text(data);
                }
                if(i == "总销售额"){
                    $("#statistics").append("<p>"+i+":"+data+"</p>");
                }
                if(i == "总运费"){
                    $("#statistics").append("<p>"+i+":"+data+"</p>");
                }
                if(i == "总采购货本"){
                    $("#statistics").append("<p>"+i+":"+data+"</p>");
                }
                if(i == "历史订单总数"){
                    $("#totalnumber").text(data);
                }
                if(i == "起始日期"){
                    $("#firstDay").val(data);
                }
                if(i == "终止日期"){
                    $("#lastDay").val(data);
                }
            })
            $("#statistics").append("<p style='color: green'>请求成功</p>")
        })
    }



    function lastMonth() {
        $.get(prefix + "/getProfiStatisticsGET", function (result) {
            $.each(result, function (i, data) {
                if(i == "订单总数"){
                    $("#lastNumber").text(data);
                    $("#statistics").append("<p>"+i+":"+data+"</p>")
                    $("#number").text(data);
                }
                if(i == "总利润"){
                    $("#total_profit").text(data);
                }
                if(i == "总销售额"){
                    $("#statistics").append("<p>"+i+":"+data+"</p>");
                    $("#lastCost").text(data);
                }
                if(i == "总运费"){
                    $("#statistics").append("<p>"+i+":"+data+"</p>");
                }
                if(i == "总采购货本"){
                    $("#statistics").append("<p>"+i+":"+data+"</p>");
                }
                if(i == "历史订单总数"){
                    $("#totalnumber").text(data);
                }
                if(i == "起始日期"){
                    $("#firstDay").val(data);
                }
                if(i == "终止日期"){
                    $("#lastDay").val(data);
                }
    })
    })
    }




</script>
</body>
</html>
