<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改销售订单')" />
    <th:block th:include="include :: datetimepicker-css" />
    <link th:href="@{/ajax/libs/select2/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/ajax/libs/select2/select2-bootstrap.css}" rel="stylesheet"/>
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-order-edit" th:object="${salesOrder}">
            <input name="id" th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单编号：</label>
                <div class="col-sm-8">
                    <input name="saleId" th:placeholder="*{saleId}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">原订单id：</label>
                <div class="col-sm-8">
                    <input name="saleIdO" th:placeholder="*{saleIdO}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总金额：</label>
                <div class="col-sm-8">
                    <input name="totalCost" th:placeholder="*{totalCost}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总采购货本：</label>
                <div class="col-sm-8">
                    <input name="totalPurchase" th:placeholder="*{totalPurchase}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">预计运费：</label>
                <div class="col-sm-8">
                    <input name="exceptFreight" th:placeholder="*{exceptFreight}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">货代运费：</label>
                <div class="col-sm-8">
                    <input name="forwarderFreight" th:placeholder="*{forwarderFreight}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">收货地址：</label>
                <div class="col-sm-8">
                    <input name="address" class="form-control" th:placeholder="*{address}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">买家ID：</label>
                <div class="col-sm-8">
                    <select name="customId" class="form-control" id="client" type="text">
                        <option value="" th:text="*{customId}"></option>
                    </select>
                    <a class="btn btn-primary" onclick="layerOpenClient()" ><i class="fa fa-plus"></i>买家</a>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物流跟踪号：</label>
                <div class="col-sm-8">
                    <input name="salesOrdercol" th:placeholder="*{salesOrdercol}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">外部物流订单ID：</label>
                <div class="col-sm-8">
                    <input name="salesOrdercolE" th:placeholder="*{salesOrdercolE}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出库重量：</label>
                <div class="col-sm-8">
                    <input name="outboundWeight" th:placeholder="*{outboundWeight}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">数量类型：</label>
                <div class="col-sm-8">
                    <select name="numberType" class="form-control m-b">
                        <option th:if="*{numberType == 1}">单SKU单数量</option>
                        <option th:if="*{numberType == 2}">单SKU多数量</option>
                        <option th:if="*{numberType == 3}">多SKU</option>
                        <option value="1">单SKU单数量</option>
                        <option value="2">单SKU多数量</option>
                        <option value="3">多SKU</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否退款：</label>
                <div class="col-sm-8">
                    <select name="isRefunded" class="form-control m-b">
                        <option th:if="*{isRefunded == 0}">未退款订单</option>
                        <option th:if="*{isRefunded == 1}">退款订单</option>
                        <option value="0" selected>未退款订单</option>
                        <option value="1">退款订单</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="time-input" th:value="${#dates.format(salesOrder.refundedTime, 'yyyy-MM-dd HH:mm:ss')}"  name="refundedTime" data-format="yyyy-mm-dd HH:ii:ss"/>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款原因：</label>
                <div class="col-sm-8">
                    <textarea name="refundedReason" th:placeholder="*{refundedReason}" class="form-control" rows="5s"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">备注给用户：</label>
                <div class="col-sm-8">
                    <textarea name="remarkToCustom" th:placeholder="*{remarkToCustom}" class="form-control" rows="10"></textarea>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">发货仓库：</label>
                <div class="col-sm-8">
                    <select name="warehouse" class="form-control m-b" id="warehouse">
                        <option value="" th:text="*{warehouse}"></option>
                    </select>
                    <a class="btn btn-primary" onclick="layerOpenWareahouse()" ><i class="fa fa-plus"></i>仓库</a>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">货代重量：</label>
                <div class="col-sm-8">
                    <input name="forwarderWeight" th:placeholder="*{forwarderWeight}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">转单号：</label>
                <div class="col-sm-8">
                    <input name="newOdd" th:placeholder="*{newOdd}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物流渠道：</label>
                <div class="col-sm-8">
                    <select name="logisticsChannel" class="form-control m-b">
                        <option value="" th:text="*{logisticsChannel}">-----</option>
                    </select>
                </div>
                <a class="btn btn-primary" onclick="layerOpenLogistics()" ><i class="fa fa-plus"></i>物流渠道</a>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">退款金额：</label>
                <div class="col-sm-8">
                    <input name="refundedamount" th:placeholder="*{refundedAmount}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">总重：</label>
                <div class="col-sm-8">
                    <input name="totalWeight" th:placeholder="*{totalWeight}" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">订单状态：</label>
                <div class="col-sm-8">
                    <select name="orderStatus" class="form-control m-b">
                        <option th:if="*{orderStatus == 1}">待处理</option>
                        <option th:if="*{orderStatus == 2}">待打印</option>
                        <option th:if="*{orderStatus == 3}">已包装</option>
                        <option th:if="*{orderStatus == 4}">已出库</option>
                        <option th:if="*{orderStatus == 5}">暂停处理</option>
                        <option th:if="*{orderStatus == 6}">已退回</option>
                        <option th:if="*{orderStatus == 7}">已审核</option>
                        <option th:if="*{orderStatus == 0}">已取消</option>
                        <option value="1" selected>待处理</option>
                        <option value="2">待打印</option>
                        <option value="3">已包装</option>
                        <option value="4">已出库</option>
                        <option value="5">暂停处理</option>
                        <option value="6">已退回</option>
                        <option value="7">已审核</option>
                        <option value="0">已取消</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">付款状态：</label>
                <div class="col-sm-8">
                    <select name="payStatus" class="form-control m-b">
                        <option th:if="*{payStatus == 0}" >未付款</option>
                        <option th:if="*{payStatus == 1}">已付款</option>
                        <option th:if="*{payStatus == 2}">部分付款</option>
                        <option value="0" selected>未付款</option>
                        <option value="1">已付款</option>
                        <option value="2">部分付款</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物流跟踪状态：</label>
                <div class="col-sm-8">
                    <select name="logisticsStatus" class="form-control m-b">
                        <option th:if="*{logisticsStatus == 0}">未知</option>
                        <option th:if="*{logisticsStatus == 1}">货代已收货</option>
                        <option th:if="*{logisticsStatus == 2}">邮局已收货</option>
                        <option value="0" selected>未知</option>
                        <option value="1">货代已收货</option>
                        <option value="2">邮局已收货</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">是否为换货订单：</label>
                <div class="col-sm-8">
                    <select name="isExchange" class="form-control m-b">
                        <option th:if="*{isExchange == 0}">否</option>
                        <option th:if="*{isExchange == 1}">是</option>
                        <option value="0" selected>否</option>
                        <option value="1">是</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">出库时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="time-input" th:value="${#dates.format(salesOrder.storageTime, 'yyyy-MM-dd HH:mm:ss')}"  name="storageTime" data-format="yyyy-MM-dd HH:mm:ss"/>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">标记发货时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="time-input" th:value="${#dates.format(salesOrder.deliverRemarkTime, 'yyyy-MM-dd HH:mm:ss')}"  name="deliverRemarkTime" data-format="yyyy-MM-dd HH:mm:ss"/>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">物流方接单时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="time-input" th:value="${#dates.format(salesOrder.logisticsAcceptTime, 'yyyy-MM-dd HH:mm:ss')}"  name="logisticsAcceptTime" data-format="yyyy-MM-dd HH:mm:ss"/>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">下载时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="time-input" th:value="${#dates.format(salesOrder.dowloadTime, 'yyyy-MM-dd HH:mm:ss')}"  name="dowloadTime" data-format="yyyy-MM-dd HH:mm:ss"/>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">客户购买时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="time-input" th:value="${#dates.format(salesOrder.customBuyTime, 'yyyy-MM-dd HH:mm:ss')}"  name="customBuyTime" data-format="yyyy-MM-dd HH:mm:ss"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="btn-group clearfix show-xs save-group col-xs-12" style="position: fixed; margin-left: -10px; right: 10px;  bottom: 10px; width: 20% ">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="default btn btn-primary hide-xs" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-default" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <script th:src="@{/ajax/libs/select2/select2.min.js}"></script>
    <script type="text/javascript">
        $().ready(function () {
                $("#client").one("click", refresh());
            }
        )


        var prefix = ctx + "DS/order";
        $("#form-order-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/edit", $('#form-order-edit').serialize());
            }
        }

        $("input[name='refundedTime']").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            minView: 0,
            minuteStep:1
        });

        $("input[name='storageTime']").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            minView: 0,
            minuteStep:1
        });

        $("input[name='deliverRemarkTime']").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            minView: 0,
            minuteStep:1
        });

        $("input[name='logisticsAcceptTime']").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            minView: 0,
            minuteStep:1
        });

        $("input[name='dowloadTime']").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            minView: 0,
            minuteStep:1
        });

        $("input[name='customBuyTime']").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            minView: 0,
            minuteStep:1
        });
        /*
              layer.open打开第三方添加界面
              */
        function layerOpenClient() {
            layer.open({
                    type: 2,
                    title: "添加收货人",
                    content: "/DS/client/add",
                    area: ['80%','80%']
                }
            )
        }



        /*
     layer.open打开第三方添加界面
     */
        function layerOpenWareahouse() {
            layer.open({
                    type: 2,
                    title: "添加仓库",
                    content: "/DS/warehouse/add",
                    area: ['1600px','550px']
                }
            )
        }

        /*
layer.open打开第三方添加界面
*/
        function layerOpenLogistics() {
            layer.open({
                    type: 2,
                    title: "添加物流渠道",
                    content: "/DS/channel/add",
                    area: ['80%','80%']
                }
            )
        }


        /*
            ajax 获取select列表
        */
        function refresh() {
            // $.get(prefix + "/refreshClient",function (result) {
            //     $.each(result,function (i, name) {
            //         $("#client").append("<option value="+i+">"+name+"</option>");
            //     })
            // })

            $.get(prefix + "/refreshWareHouse",function (result) {
                $.each(result,function (i, name) {
                    $("#warehouse").append("<option value="+i+">"+i+":"+name+"</option>");
                })
            })

            $.get(prefix + "/refreshChannel",function (result) {
                $.each(result,function (i, name) {
                    $("#logisticsChannel").append("<option value="+i+">"+i+":"+name+"</option>");
                })
            });
        }

        /*
       layer.open打开第三方添加界面
       */
        function layerOpenClient() {
            layer.open({
                    type: 2,
                    title: "添加收货人",
                    content: "/DS/client/add",
                    area: ['1600px','550px']
                }
            )
        }
    </script>
</body>
</html>