<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('销售订单列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse" hidden>
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>订单编号：</p>
                                <input type="text" name="saleId"/>
                            </li>
                            <li>
                                <p>物流跟踪号：</p>
                                <input type="text" name="salesOrdercol"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.addTab()" shiro:hasPermission="DS:sales_order:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.editTab()" shiro:hasPermission="DS:sales_order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="DS:sales_order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="DS:sales_order:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:src="@{/ajax/libs/layui/layui.js}"></script>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('DS:sales_order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('DS:sales_order:remove')}]];
        var prefix = ctx + "DS/sales_order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "销售订单",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id', 
                    title : 'id',
                    visible: false
                },
                {
                    field : 'saleId', 
                    title : '订单编号'
                },
                {
                    title : '收货人',
                    formatter: function(value, row, index) {
                        $.ajaxSettings.async = false;
                        var data = {
                            id: row.id
                        };
                        var returnData = '';
                        $.post(prefix+"/getAddress", data, function (result) {
                            returnData = returnData + '<a  href="javascript:void(0)" onclick="openAddressEdit(\'' + result.id + '\')">'+result.name+'</a> ' +'<br/>'+ result.country +'&nbsp;'+result.zipcode+'<br/>'+result.streetAddress1;
                        });
                        return  returnData;
                    }
                },
                {
                    title : '商品',
                    formatter: function(value, row, index) {
                        $.ajaxSettings.async = false;
                        var returnData = "<br/>";
                        $.get(prefix+"/getProductMessage/"+row.id, function (result) {
                            $.each(result, function (i, data) {
                                if (data != null){
                                    $.each(data, function (i, data1) {
                                        returnData = returnData + "<img src=" + JSON.stringify(data1) + " height=\"50\" width=\"50\" title='查看商品信息' onclick='$.modal.openTab(\"商品信息\",\"/DS/product/edit/" + i + "\")'/>"+"<br/><br/>";
                                    })
                                }
                                });
                        })
                        return returnData;
                        }
                },
                {
                    title : '拣货信息',
                    formatter: function(value, row, index) {
                        var data = {
                            id: row.id
                        };
                        var returnData = "<br/>";
                        $.post(prefix+"/getOrderSkuList", data, function (result) {
                            $.each(result, function (i, orderSku) {
                                if(orderSku.released == "1"){
                                    returnData = returnData + orderSku.skuCode+"/"+orderSku.size+"/"+orderSku.color+"<br/><span style='color: green'>已分配</span><br/><br/><br/><br/>"
                                }
                                else{
                                    returnData = returnData + orderSku.skuCode+"/"+orderSku.size+"/"+orderSku.color+"<br/><span style='color: red'>未分配</span><br/><br/><br/><br/>"
                                }
                            })
                        });
                        return  "<h5 title='SKU编码/规格/颜色'>"+returnData+"<h3/>";
                    }
                },
                {
                    field : 'saleIdO', 
                    title : '原订单id',
                    visible: false
                },
                {
                    field : 'totalCost', 
                    title : '总金额/总重量',
                    formatter: function(value, row, index) {
                        return  value + "/" + row.totalWeight ;
                    }
                },
                {
                    title : '物流渠道',
                    formatter: function(value, row, index) {
                        var data = '';
                        $.get(prefix+"/getName/"+row.id,function (result) {
                            $.each(result, function (i, message) {
                                if(i == "channel"){
                                    data = message;
                                }
                            })
                        })
                        return  data ;
                    }
                },
                {
                    field : 'totalPurchase', 
                    title : '总采购货本',
                    visible: false
                },
                {
                    field : 'exceptFreight', 
                    title : '预计运费',
                    visible: false
                },
                {
                    field : 'forwarderFreight', 
                    title : '货代运费',
                    visible: false
                },
                {
                    field : 'address', 
                    title : '收货地址',
                    visible: false
                },
                {
                    field : 'salesOrdercol', 
                    title : '物流跟踪号',
                    visible: false
                },
                {
                    field : 'salesOrdercolE', 
                    title : '外部物流订单ID',
                    visible: false
                },
                {
                    field : 'outboundWeight', 
                    title : '出库重量',
                    visible: false
                },
                {
                    field : 'numberType', 
                    title : '数量类型',
                    visible: false
                },
                {
                    field : 'isRefunded', 
                    title : '是否退款',
                    visible: false
                },
                {
                    field : 'refundedTime', 
                    title : '退款时间',
                    visible: false
                },
                {
                    field : 'refundedReason', 
                    title : '退款原因',
                    visible: false
                },
                {
                    field : 'remark', 
                    title : '订单备注',
                    visible: false
                },
                {
                    field : 'remarkToCustom', 
                    title : '备注给用户',
                    visible: false
                },
                {
                    field : 'warehouse', 
                    title : '发货仓库',
                    visible: false
                },
                {
                    field : 'forwarderWeight', 
                    title : '货代重量',
                    visible: false
                },
                {
                    field : 'newOdd', 
                    title : '转单号',
                    visible: false
                },
                {
                    field : 'logisticsChannel', 
                    title : '物流渠道',
                    visible: false
                },
                {
                    field : 'refundedAmount', 
                    title : '退款金额',
                    visible: false
                },
                {
                    field : 'totalWeight', 
                    title : '总重',
                    visible: false
                },
                {
                    field : 'orderStatus', 
                    title : '订单状态',
                    visible: false
                },
                {
                    field : 'customId', 
                    title : '买家ID',
                    visible: false
                },
                {
                    field : 'payStatus', 
                    title : '付款状态',
                    visible: false
                },
                {
                    field : 'logisticsStatus', 
                    title : '物流跟踪状态',
                    visible: false
                },
                {
                    field : 'isExchange', 
                    title : '是否为换货订单',
                    visible: false
                },
                {
                    field : 'storageTime', 
                    title : '出库时间',
                    visible: false
                },
                {
                    field : 'deliverRemarkTime', 
                    title : '标记发货时间',
                    visible: false
                },
                {
                    field : 'logisticsAcceptTime', 
                    title : '物流方接单时间',
                    visible: false
                },
                {
                    field : 'dowloadTime', 
                    title : '下载时间',
                    visible: false
                },
                {
                    field : 'customBuyTime', 
                    title : '购买时间'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTab(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
        function openAddressEdit(value) {
            $.modal.openTab("编辑收货人","/DS/shopping_address/edit/"+value);
        }
    </script>
</body>
</html>