<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增SKU单品')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: select2-css" />
    <th:block th:include="include :: bootstrap-select-css" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-skuproduct-add">
            <div class="form-group">    
                <label class="col-sm-3 control-label">size：</label>
                <div class="col-sm-8">
                    <input name="size" id="size" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">颜色：</label>
                <div class="col-sm-8">
                    <input name="color" id="color" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">净重：</label>
                <div class="col-sm-8">
                    <input name="net_weight" id="net_weight" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>毛重：</label>
                <div class="col-sm-8">
                    <input name="gross_weight" id="gross_weight" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>成本价(RMB)：</label>
                <div class="col-sm-8">
                    <input name="cost_price" id="cost_price" class="form-control" type="text" required>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">售价：</label>
                <div class="col-sm-8">
                    <input name="price" id="price" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>状态：</label>
                <div class="col-sm-8">
                    <select name="status" id="status" class="form-control m-b"  required>
                        <option value="1" selected>激活</option>
                        <option value="0">非激活</option>
                        <option value="2">售完即止</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">SKU外部码：</label>
                <div class="col-sm-8">
                    <input name="code_ext" id="code_ext" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">排序：</label>
                <div class="col-sm-8">
                    <input name="sort_order" id="sort_order" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">七天销量：</label>
                <div class="col-sm-8">
                    <input name="sales_7days" id="sales_7days" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">七天销量天数：</label>
                <div class="col-sm-8">
                    <input name="sales_7days_day" id="sales_7days_day" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">十四天销量：</label>
                <div class="col-sm-8">
                    <input name="sales_14days" id="sales_14days" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">十四天销量天数：</label>
                <div class="col-sm-8">
                    <input name="sales_14days_day" id="sales_14days_day" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">三十天销量：</label>
                <div class="col-sm-8">
                    <input name="sales_30days" id="sales_30days" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">三十天销量天数：</label>
                <div class="col-sm-8">
                    <input name="sales_30days_day" id="sales_30days_day" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">待采购量：</label>
                <div class="col-sm-8">
                    <input name="purchase_plan" id="purchase_plan" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">采购天数：</label>
                <div class="col-sm-8">
                    <input name="purchase_plan_days" id="purchase_plan_days" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">采购交期：</label>
                <div class="col-sm-8">
                    <input name="purchase_delivery_day" id="purchase_delivery_day" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">统计时间：</label>
                <div class="col-sm-8">
                    <div class="input-group date">
                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        <input type="text" class="form-control" id="sales_stat_time" placeholder="yyyy-MM-dd" name="sales_stat_time" data-format="yyyy-MM"/>
                    </div>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>库存刊登策略：</label>
                <div class="col-sm-8">
                    <select name="inventory_publish_policy" id="inventory_publish_policy" class="form-control m-b" required>
                        <option value="1" selected>默认</option>
                        <option value="2">按可售量</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label"><span style="color: red; ">*</span>商品：</label>
                <div class="col-sm-8">
                    <select name="product" id="product" class="form-control m-b" required>
                        <option value="">-------</option>
                    </select>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">图片路径：</label>
                <div class="col-sm-8">
                    <input id="filePath" name="filePath" class="form-control" type="file"><br>
                    <img src="" height="200" alt="Image preview area..." title="preview-img">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">长：</label>
                <div class="col-sm-8">
                    <input name="length" id="length" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">宽：</label>
                <div class="col-sm-8">
                    <input name="width" id="width" class="form-control" type="text">
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">高：</label>
                <div class="col-sm-8">
                    <input name="height" id="height" class="form-control" type="text">
                </div>
            </div>
        </form>
    </div>
    <div class="btn-group clearfix show-xs save-group col-xs-12" style="position: fixed; margin-left: -10px; right: 10px;  bottom: 10px; width: 20% ">
        <div class="col-sm-offset-5 col-sm-10">
            <button type="button" class="default btn btn-primary hide-xs" onclick="submitHandler()"><i class="fa fa-check"></i>保 存</button>&nbsp;
            <button type="button" class="btn btn-default" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <th:block th:include="include :: datetimepicker-js" />
    <th:block th:include="include :: select2-js" />
    <th:block th:include="include :: bootstrap-select-js" />
    <th:block th:include="include :: sparkline-js" />
    <script type="text/javascript">
        $().ready(function () {
                $("#product").one("click", refresh());
            }
        )



        //图片预览
        var fileInput = document.querySelector('input[type=file]'),
            previewImg = document.querySelector('img');
        fileInput.addEventListener('change', function () {
            var file = this.files[0];
            var reader = new FileReader();
            // 监听reader对象的的onload事件，当图片加载完成时，把base64编码賦值给预览图片
            reader.addEventListener("load", function () {
                previewImg.src = reader.result;
            }, false);
            // 调用reader.readAsDataURL()方法，把图片转成base64
            reader.readAsDataURL(file);
        }, false);




        var prefix = ctx + "DS/skuproduct"
        $("#form-skuproduct-add").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                uploadFile();
            }
        }

        function uploadFile() {
            var formData = new FormData();
            if ($('#filePath')[0].files[0] == null) {
                $.modal.alertWarning("请先选择文件路径");
                return false;
            }
            formData.append('codext', $("#code_ext").val());
            formData.append('size', $("#size").val());
            formData.append('color', $("#color").val());
            formData.append('netWeight', $("#net_weight").val());
            formData.append('grossWeight', $("#gross_weight").val());
            formData.append('costPrice', $("#cost_price").val());
            formData.append('price', $("#price").val());
            formData.append('status', $("#status").select2('val'));
            formData.append('sortOrder', $("#sort_order").val());
            formData.append('sales7days', $("#sales_7days").val());
            formData.append('sales7daysDay', $("#sales_7days_day").val());
            formData.append('sales14days', $("#sales_14days").val());
            formData.append('sales14daysDay', $("#sales_14days").val());
            formData.append('sales30days', $("#sales_30days").val());
            formData.append('sales30daysDay', $("#sales_30days_day").val());
            formData.append('purchasePlan', $("#purchase_plan").val());
            formData.append('purchasePlanDays', $("#purchase_plan_days").val());
            formData.append('purchaseDeliveryDay', $("#purchase_delivery_day").val());
            formData.append('salesStatSime', $("#sales_stat_time").val());
            formData.append('inventoryPublishPolicy', $("#inventory_publish_policy").select2('val'));
            formData.append('product', $("#product").val());
            formData.append('length', $("#length").val());
            formData.append('width', $("#width").val());
            formData.append('height', $("#height").val());
            formData.append('file', $('#filePath')[0].files[0]);
            $.ajax({
                url: prefix + "/add",
                type: 'post',
                cache: false,
                data: formData,
                processData: false,
                contentType: false,
                dataType: "json",
                success: function(result) {
                    if(self.frameElement.tagName=="IFRAME" && typeof (window.parent.refresh) == "function"){
                        // 在frame中时处理
                        $.operate.successCallback(result);
                    }
                    $.operate.successTabCallback(result);
                }
            });
        }

        $("input[name='sales_stat_time']").datetimepicker({
            format: 'yyyy-mm-dd hh:ii:ss',
            autoclose: true,
            minView: 0,
            minuteStep:1
        });


        //select数据获取（ajax）
        function refresh(){
            $("#product").empty();
            $("#product").append("<option value=\"\">-----</option>");
            $.get(prefix + "/refresh",function (result) {
                $.each(result,function (i, product) {
                    $("#product").append("<option value="+i+">"+i+":"+product+"</option>");
                })
            });
        }
    </script>
</body>
</html>